
h1 {
  color: SeaGreen;
   background-image:url("../img/pattern.jpeg");
  font-size: 100px;
  text-align: center;

  color: Khaki;
}
h1, h2, h3, p {
    font-family: Helvetica;
    font-weight: bold;
}


.equipements h2 {
    color: white;
    font-size: 32px;
}
#brushes {

  background-color: MediumSpringGreen;
}
#frames {

  background-color: lightcoral;
}
#painted {

  background-color: skyblue;
}
span {

  color: blue;
}
